Package: rip.bongs.danktime
Name: DankTime
Version: 4.20
Architecture: iphoneos-arm
Description: Replaces 16:20 and 04:20 with 4:20 in the status bar!
Maintainer: pandather
Author: pandather
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
Depiction: https://repo.bongs.rip/depiction/web/rip.bongs.danktime.html
