Package: rip.bongs.danktime
Name: DankTime
Version: 4.2.0
Architecture: iphoneos-arm
Description: Shows the amount of free RAM in the status bar.
Maintainer: pandather
Author: pandather
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
Depiction: https://repo.bongs.rip/depiction/web/rip.bongs.danktime.html
